body {
  font-family: "Roboto";
  color: #fff;
  background-color: #161616;
}
.container {
  margin: 100px auto;
  width: 50%;
  text-align: center;
}

h2 {
  font-size: 3em;
}

*:focus {
  outline: none;
}
